apiVersion: v1
kind: Service
metadata:
  name: notifications
  labels:
    app: notifications
spec:
  type: ClusterIP
  selector:
    app: notifications
  ports:
    - name: grpc
      port: 50051
      targetPort: 50051
