apiVersion: apps/v1
kind: Deployment
metadata:
  name: notifications
  namespace: final-project
  labels:
    app: notifications
spec:
  replicas: 2
  selector:
    matchLabels:
      app: notifications
  template:
    metadata:
      labels:
        app: notifications
    spec:
      containers:
        - name: notifications
          image: trailbox-notifications:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 50051
            - containerPort: 8081
          env:
            - name: PORT
              value: "50051"
            - name: SERVICE_NAME
              value: notifications
            - name: SERVICE_ADDRESS
              value: notifications-service.final-project.svc.cluster.local
            - name: SERVICE_HEALTH_PATH
              value: /health
            - name: CONSUL_HTTP_ADDR
              value: http://consul.final-project.svc.cluster.local:8500
            - name: DB_HOST
              value: postgres.final-project.svc.cluster.local
            - name: DB_PORT
              value: "5432"
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: trailbox-db-secret
                  key: DB_USER
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: trailbox-db-secret
                  key: DB_PASS
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: trailbox-db-secret
                  key: DB_NAME
          resources:
            requests:
              cpu: 150m
              memory: 256Mi
            limits:
              cpu: 400m
              memory: 512Mi
          readinessProbe:
            httpGet:
              path: /health
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: notifications-service
  namespace: final-project
spec:
  selector:
    app: notifications
  ports:
    - name: grpc
      port: 50051
      targetPort: 50051
  type: ClusterIP
