apiVersion: v1
kind: Service
metadata:
  name: users
  namespace: final-project
  labels:
    app: users
spec:
  type: ClusterIP
  selector:
    app: users
  ports:
    - name: grpc
      port: 50051
      targetPort: 50051
